.container {
    margin-top:50px;
}

.navbar {
    padding-left: 30px;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-brand {
    margin-right: 55px;
}
.right-border {
    height: 40px;
    border-right: 1px solid white;
}

.nav-link {
    margin-left: 25px;
    margin-right: 25px;
    color: lightgray;
}

.btn.btn-light {
    color: black;
    
}

.navbar p {
    color: white;
    margin-top: 1.2%;
    margin-right: 1%;
}
.navbar form {
    margin-right: 1%;
}
.footer-button {
    float: right;
    margin-top: 2%;
    padding-right: 1.1%;
}

.footer-button button {
    margin-left: 30px;
}
.form-group {
    margin-bottom: 1.2%;
}

.form-group label {
    margin-bottom: 1%;
}

legend {
    margin-bottom: 15pt;
}

.invalid-date {
    color: gray;
    font-size: 10pt;
    margin-top: 1%;
}

.validator {
    position: fixed;
    /* display: flex; */
    flex-flow: column;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

.validator a {
    text-decoration: none;
}